PROJECT_NAME=symfony-notification-service
APP_ENV=dev
APP_SECRET=your_secret
XDEBUG_MODE='off'
XDEBUG=1

NGINX_PORT=80

POSTGRES_USER=your_symfony_user
POSTGRES_PASSWORD=your_symfony_pass
POSTGRES_DB=your_symfony_db_name
DATABASE_URL="pgsql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}"

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
MAILER_DSN=smtp://mailpit:1025

TWILIO_ACCOUNT_SID="your_twilio_account_sid"
TWILIO_AUTH_TOKEN="your_twilio_auth_token"
TWILIO_MESSAGING_SERVICE_SID="your_service_id"
